<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	
		<package name="com.jobis.etp.login.domain" />
		<package name="com.jobis.etp.join.domain" />
		<package name="com.jobis.mem.join.domain" />
		<package name="com.jobis.mem.login.domain" />
		<package name="com.jobis.etp.recruit.domain" />
		<package name="com.jobis.etp.clip.domain" /> <!-- 인재스크랩 -->
		<package name="com.jobis.mem.recruit.domain" />
		<package name="com.jobis.mem.receive.domain" />
		<package name="com.jobis.mem.clip.domain" />
		
		<!-- 채용공고 -->
		<package name="com.jobis.etp.recruit.domain" />
		<package name="com.jobis.etp.recruit.domain" />
		<!-- 인재스크랩 -->
		<package name="com.jobis.mem.resume.domain" />
	</typeAliases>

</configuration>

