@CHARSET "UTF-8";
.btn-info {
	background: #3679B5;
}

.examNumberForm {
	float: left;
	width: 20%;
}
#selectPicker{
	border : 1px solid #BCBCBC;
	border-radius : 5px;
	height : 35px;
	width : 
	
}