<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.spring.project.mappers.Etp_Login_Mapper">

<select parameterType="Etp_loginDTO" resultType="Etp_LoginVO" id="etp_login_select"> select * from ETP_INFOR where etp_id=#{etp_id} </select>




</mapper>  

 