<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.project.mappers.Etp_Pass_Mapper">

	<select id="recruit_infor" resultType="Mem_RecruitVO">
		select * from recruit_infor where etp_no=#{etp_no}
	</select>

	<select id="pass_resume_list" resultType="Mem_ResumeVO">
		select re.* from resume re, join_receive j where re.resume_no=j.resume_no and j.recruit_no=#{recruit_no}
	</select>
	
	<select id="pass_resume_list_all" resultType="Mem_ResumeVO">
		select re.* from resume re, join_receive j, recruit_infor rei where re.resume_no=j.resume_no and rei.recruit_no=j.recruit_no and rei.etp_no=#{etp_no}
	</select>
	
	<select id="pass_member_no" resultType="int" parameterType="int">
		select member_no from resume where resume_no = #{resume_no}
	</select>
	
 	<update id="etp_pass_update" parameterType="Mem_ReceivceVO">
 		update join_receive
 		set first_interview='Y', exam_no=#{exam_no}, exam_count=0
 		where resume_no=#{resume_no}
 	</update>
	
	<select id = "pass_exam_list" resultType = "Etp_ExamVO" parameterType="int">
		select * from exam_infor where etp_no = #{etp_no}
	</select>
	
	<select id="pass_exam_name" resultType="Etp_ExamVO" parameterType="int">
		select * from exam_infor where exam_no = #{exam_no}
	</select>
	
	<insert id = "exam_notice_center"  parameterType="Mem_NoticeVO">
		insert into notice_center (notice_no, notice_type, notice_name, notice_date, notice_check, member_no, exam_no)
			values(notice_no_seq.nextval, 'JOBIXAM 소식', #{notice_name}, SYSDATE, 'N', #{member_no}, #{exam_no})
	</insert>
	
	<select id="etp_refresh_list" parameterType="int" resultType="Mem_ResumeVO">
		select * from resume where resume_no = (select resume_no from join_receive where recruit_no=#{recruit_no})
	</select>
	
</mapper>  

 