<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.project.mappers.Etp_Pass_Mapper">

	<select id="recruit_infor" resultType="Mem_RecruitVO">
		select * from recruit_infor where etp_no=#{etp_no}
	</select>

	<select id="pass_resume_list" resultType="Mem_ResumeVO">
		select re.* from resume re, join_receive j where re.resume_no=j.resume_no and j.recruit_no=#{recruit_no}
	</select>
	
	<select id="pass_resume_list_all" resultType="Mem_ResumeVO">
		select re.* from resume re, join_receive j, recruit_infor rei where re.resume_no=j.resume_no and rei.recruit_no=j.recruit_no and rei.etp_no=#{etp_no}
	</select>
	
	
 	<update id="etp_pass_update" parameterType="int">
 		update join_receive 
 		set first_interview='Y'
 		where resume_no=#{resume_no}
 	</update>
	
</mapper>  

 