<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.project.mappers.Mem_Receive_Mapper">

	<insert id="mem_receive_create" parameterType="Mem_ReceivceVO">
		insert into join_receive(
		join_receive_no, recruit_no, receive_date, reading, first_interview, resume_no
		)
		values(
		join_receive_seq.nextval, #{recruit_no}, '2016/11/15','y','y',#{resume_no}
		)
	</insert>


	<select resultType="Mem_ReceivceVO" id="mem_receive_list">
		select * from join_receive where resume_no=#{resume_no}
	</select> 
	
	<select id="resume_no">
		select resume_no  from resume where member_no=#{member_no}
	</select> 
	
	<select id="mem_resume_List" resultType="Mem_ResumeVO" >
		select * from resume where member_no=#{member_no}
	</select> 
	
	<select id="basic_resume_no" resultType="int">
		select resume_no from member_infor where member_no=#{member_no}
	</select> 
	
	<select id="mem_receive_overlap_create" resultType="int">
		<!-- select * from join_receive where recruit_no=#{recruit_no} and resume_no=#{resume_no} -->
		select re.member_no from  join_receive j, resume re where j.resume_no=re.resume_no and j.recruit_no=#{recruit_no}
	</select> 
	
</mapper>  

 