<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.project.mappers.Mem_Notice_Mapper">

	<insert id="receive_create">
		insert into notice_center
		values(notice_no_seq.nextval, #{notice_type}, #{notice_name}, SYSDATE,
		'N', #{member_no}, #{mem_submit_no},
		#{exam_question_no},#{smart_match_no});
	</insert>

	<select id="mem_notice_list" resultType="Mem_NoticeVO">
		select * from
		notice_center where member_no=#{member_no} order by notice_date desc
	</select>

	<select id="mem_notice_list_three" resultType="Mem_NoticeVO">
	<![CDATA[select * from notice_center where member_no=#{member_no} and ROWNUM <= 2 order by notice_date desc]]>
	</select>

</mapper>  

 