<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.project.mappers.Mem_Recurit_Mapper">
	<select id="recruit_List" resultType="Mem_RecruitVO">
		select * from recruit_infor
	</select>
	
	<select id="recruit_Read" resultType="Mem_RecruitVO" >
		select * from recruit_infor where recruit_no=#{rno}
	</select>
	
	<select id="etp_read" resultType="Etp_JoinVO" parameterType="int">
		select *
		from etp_infor
		where etp_no = #{rno}
	</select>
	
</mapper>  

 