<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jobis.mappers.Mem_Join_Mapper">


	<insert id="mem_create" parameterType="Mem_JoinVO">
	INSERT INTO
		member_infor(MEMBER_NO,member_name,member_id,member_pwd,member_email,member_telephone)
		VALUES(MEM_INFOR_NO.nextval,#{member_name},#{member_id},#{member_pwd},#{member_email},#{member_telephone})
	</insert>
	
	<select id="mem_idcheck" resultType="String">
	select COUNT(member_id) from member_infor where member_id=#{mem_id}
	
	</select>
	

</mapper>  

 